/* @import 'reset-css';

body {
  background: #fff;
}

.main {
  padding: 1.5rem 1rem 1rem;
}
.main h4 {
  font-size: calc(1.275rem + 0.3vw);
}
.title {
 width: 100%;
}
.main code {
  color: #d63384;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

@import 'reset-css';

.container {
  padding: 12px 24px 0 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .semi-icon-default {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .semi-banner-icon {
    margin-right: 8px;
  }

  .title {
   width: 100%;
  }
}

.footer {
  margin-top: 12px;
  display: flex;
  align-items: center;
  height: 44px;
}

.item {
  width: 100%;
  margin: 12px 0 8px 0
}
